@import "variables";

html {
  font-size: 20px;
}

html, body, #app-wrap, #root, #app {
  height: 100%;
}

#app {
  display: flex;
}

#pages {
  flex: initial;
  width: 15rem;
  min-width: 10rem;
}

#notes {
  flex: 1;
}