@import "variables";

html {
  font-size: 20px;
  font-family: "Source Han Sans", Roboto, "Helvetica Neue", "Segoe UI", Verdana, Tahoma,
  "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html, body, #app-wrap, #root, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 658px; //todo
}

#app {
  display: flex;
}

#notes {
  flex: 1;
}